#  -  Ignore Simulation files
00*

#  -  Ignore AliAnalysisTaskUPCforwardMC compilation files
AliAnalysisTask*_*

#  -  Ignore the AnalysisResults
AnalysisResults*

#  -  Ignore the GRID files
*.xml
pPbLHC*
